# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version

# Virtual environments
.venv/
venv/

# Env files
.env
.env.local

# VS Code
.vscode/

# macOS
.DS_Store

# Distribution / packaging
build/
dist/
*.egg-info/

# Database
# data/
# *.db
# *.db-journal
